{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


<script type="text/html" id="imageTemplate">
    <div class="loaded-image">
         <img src="<%= image %>" />
    </div>
</script>

<div id="main">
</div>

<script type="text/javascript">
    window.loading_image_obj = {
        "image": "http://image.shutterstock.com/display_pic_with_logo/2330918/198495395/stock-vector-set-of-loading-symbols-198495395.jpg"
    }
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script type="text/javascript" src="{% static "js/apps/iframe/app.js" %}"></script>
<script type="text/javascript" src="{% static "js/apps/iframe/models.js" %}"></script>
<script type="text/javascript" src="{% static "js/apps/iframe/collections.js" %}"></script>
<script type="text/javascript" src="{% static "js/apps/iframe/views.js" %}"></script>
<script type="text/javascript" src="{% static "js/apps/iframe/router.js" %}"></script>

</body>
</html>